@import "tailwindcss";

@theme {
  --color-cemaco-blue: #0033a0;
  --color-cemaco-orange: #ff6a13;
  --color-cemaco-light: #f5f5f5;

  --color-cemaco-green: #88c044; 
}

body {
  background-color: var(--color-cemaco-light);
  color: #1f2937;
}